<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <div layout style="margin-to:90px;">
                    <div layout="column" layout-align="center center" flex="10">
                        <img src="/static/img/icones/ICONES-IMAGES.png" alt="Yoga" style="margin-bottom:50%;"/>
                        <img src="/static/img/icones/ICONES-IMAGES8.png" alt="Yoga" style="margin:50% 0;"/>
                    </div>

                    <div layout="column" flex="70" flex-offset="5" class="content-container" style="min-height:400px;margin-top:40px;margin-bottom:50px;" >

                        <div flex layout-padding
                             style="background-color:#fffdfa;
                                    color:#99651e;
                                    font-size:20px;
                                    min-height:600px;
                                    text-align: center;
                                    font-weight:500;">
                            Notre carte tout comme notre local est encore en chantier 😊<br><br>

                            Les plats et desserts que nous servirons seront préparés chaque jour avec soin,
                            amour et des produits de qualité issus de production de l’agriculture biologique,
                            et locale dans la mesure du possible.<br><br>

                            Les recettes varieront au fil des jours et des semaines pour s’adapter à
                            la saisonnalité des fruits et des légumes.<br><br>
                            Que vous soyez flexitarien, végétarien, vegan, carnivore, sachez que vous trouverez chez nous en semaine :<br>
                            - Des tartes salées et leurs accompagnements crudivores ;<br>
                            - Des bols buddhas ;<br>
                            - Des gâteaux, des tartes, des cakes ...<br><br>


                            Et le WE, nous servirons un brunch copieux :<br>
                            - Boisson chaude<br>
                            - Boisson fraîche vitaminée<br>
                            - Pain, beurre et confitures<br>
                            - Protéines : Œufs brouillés ou Œuf cocotte (si vous êtes vegan, pas de souci, nous vous proposerons un plat différent)<br>
                            - Salade du jour<br>
                            - Yaourt (laitier ou végétal) et son accompagnement<br>
                            - Douceur sucrée.<br><br>
                            Et bien sûr vous pourrez vous désaltérer avec nos boissons fraîches
                            maison (jus de fruit / légume, infusion, …) et boissons chaudes toute la journée.<br><br>
                        </div>
                    </div>
                    <div layout="column" layout-align="start center" flex="10" flex-offset="5">
                        <img src="/static/img/icones/ICONES-IMAGES6.png" alt="Yoga" style="margin-bottom:50%;"/>
                        <img src="/static/img/icones/ICONES-IMAGES4.png" alt="Yoga" style="margin:50% 0;"/>
                    </div>
                </div>

                <div layout layout-align="space-between center" style="width:90%;margin: auto;">
                    <img src="/static/img/visuels/comptoir.png"
                         alt="Comptoir"
                         style="max-width:45%;"/>
                    <img src="/static/img/visuels/facade.png"
                         alt="Facade"
                         style="max-width:45%;"/>
                </div>
                <div style="text-align: center;
                            margin-top:10px;
                            color:#99651e;
                            font-size:20px;">
                    En avant-première des visuels de notre salle de restaurant préparés par notre architecte.
                </div>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>
