<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <div layout style="margin-to:90px;">

                    <div layout="column" flex="70" flex-offset="15" class="content-container" style="min-height:400px;margin-top:40px;margin-bottom:50px;" >

                        <div flex layout-padding style="background-color:#fffdfa;font-size:20px; min-height:600px;">
                            Pour contribuer à faire de Café Aum un lieu convivial et vivant,
                            nous ponctuerons son quotidien d’événements de toutes sortes,
                            sur des thèmes qui nous tiennent à coeur. <br><br>
                            Evénements ponctuels :<br><br>
                            Un jour une dégustation de thé, un autre une conférence,
                            ou encore une vente de bijoux artisanaux…
                            Nous voulons que votre expérience chez Café Aum soit la plus agréable possible
                            et veillerons à vous proposer des événements variés.<br><br>
                            Nos expositions : <br><br>
                            L’art est également à l’honneur, chez Café Aum ! Les murs de notre
                            restaurant accueilleront le travail d’artistes talentueux,
                            que nous aurons sélectionnés. Vous pourrez ainsi découvrir, tous les 2 mois,
                            l’univers de l’un d’entre eux, et pourquoi pas,
                            repartir en fin d’exposition avec une de ses oeuvres ?<br><br>
                            Vous êtes artiste et souhaitez exposer chez nous ? N’hésitez pas à nous
                            laisser un message via notre formulaire de contact.
                            Notez qu’il vous sera possible de privatiser notre salle de restaurant,
                            pour organiser un vernissage, si vous le souhaitez.<br><br>
                            Réunions d’associations : <br><br>
                            Nous savons à quel point il est difficile, pour une petite association,
                            de trouver où héberger ses réunions. Nous proposerons donc certains samedis,
                            entre 17h45 et 19h30 de prêter notre salle de yoga aux associations locales
                            qui le souhaiteraient. Sous réserve, évidemment, de disponibilité !...
                            La demande se fait via notre formulaire de contact.<br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>

