<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <div layout style="margin-to:90px;">
                    <div layout="column" layout-align="center center" flex="10">
                        <img src="/static/img/icones/ICONES-IMAGES19.png" alt="Yoga" style="margin-bottom:100%;"/>
                        <img src="/static/img/icones/ICONES-IMAGES19.png" alt="Yoga" style="margin:100% 0;"/>
                        <img src="/static/img/icones/ICONES-IMAGES19.png" alt="Yoga" style="margin-top:100%;" />
                    </div>

                    <div layout="column" flex="70" flex-offset="5" class="content-container" style="min-height:400px;margin-top:40px;margin-bottom:50px;" >

                        <div flex layout-padding
                             style="background-color:#fffdfa;
                                    color:#99651e;
                                    font-size:20px;
                                    text-align: center;
                                    min-height:600px;">
                            Dès notre ouverture, vous pourrez profiter d’un large choix
                            de cours de yoga dans notre salle dédiée.<br><br>

                            Quelque soit votre âge, votre niveau, ou votre forme, il y a forcément un cours
                            pour vous dans notre planning ! Choisissez celui qui vous convient
                            et venez vivre un vrai moment de détente et de reconnexion avec avec votre corps.<br><br>

                            Nous proposons, pour les débutants et pour les plus avancés, des séances hebdomadaires en :<br><br>

                            <span style="font-weight:bold;"> Hatha yoga * : </span><br>
                            « Il s’agit d’un yoga assez doux qui consiste à conserver longtemps chaque posture
                            et donc à solliciter les muscles et la concentration en profondeur. […] on enchaîne
                            les postures les unes après les autres, sans réaliser de transitions particulières entre
                            chaque posture. »<br><br>

                            <span style="font-weight:bold;"> Yin yoga ** : </span><br>
                            « Le Yin yoga est une pratique passive qui comprend des variations de postures
                            assises et allongées que l’on tient généralement pendant 3 à 5 minutes. » Elle « est
                            conçue pour vous aider à rester en position assise plus longtemps et plus
                            confortablement lors de la méditation. »<br><br>

                            <span style="font-weight:bold;"> Ashtanga yoga ** : </span><br>
                            « Cette pratique dynamique et exigeante synchronise la respiration et le mouvement
                            de façon à générer une chaleur intérieure destinée à purifier le corps. » « Ce style est
                            excellent pour renforcer la sangle abdominale et tonifier le corps en enchaînant une
                            série fixe de postures à un rythme soutenu.»<br><br>

                            <span style="font-weight:bold;"> Vinyasa yoga * : </span><br>
                            « Le Vinyasa est proche de l’Ashtanga, mais il offre une plus grande liberté dans
                            l’enchaînement des postures. » Une pratique adaptée pour ceux qui aiment varier les
                            plaisirs.<br><br>

                            et nous vous ferons découvrir <span style="font-weight:bold;"> d’autres types de yoga</span>, au fil du temps.
                            Les cours seront inscrits sur notre planning.<br><br>

                            Futures et jeunes maman, nous vous accompagnerons également pendant et après votre
                            grossesse avec nos cours de yoga pré-natal et post-natal.<br><br>

                            Et personne ne sera en reste : nous mettrons également en place des cours pour les juniors !<br><br>

                            Nos professeurs vous transmettrons les fondamentaux du yoga, tels que l’écoute
                            de son corps et le respect de ses limites, ou la connexion au souffle.<br><br>

                            Comment participer à nos cours ? Rien de plus simple ! Très vite, vous aurez
                            accès à notre planning en ligne qui vous permettra de connaître les horaires
                            des cours qui vous intéressent et de savoir, en un clic le nombre de
                            places restantes. Utilisez alors votre compte client, pour une
                            réservation en ligne, ou présentez-vous quelques minutes avant
                            le début du cours. Attention, sans réservation les premiers
                            arrivés seront les premiers servis !<br><br>

                            Tout le matériel sera fourni : venez juste avec une tenue confortable
                            et laissez-vous guider dans cette pause bien-être.<br><br>

                            <div style="text-align: right; font-size: 80%;">
                                *Définitions obtenues sur le site Yoga Passion : <a href="http://www.yogapassion.fr">http://www.yogapassion.fr</a><br>
                                **Définitions obtenues sur le site de Yoga Journal : <a href="http://www.yogajournalfrance.fr">http://www.yogajournalfrance.fr</a><br>
                            </div>

                        </div>
                    </div>
                    <div layout="column" layout-align="center center" flex="10" flex-offset="5">
                        <img src="/static/img/icones/ICONES-IMAGES18.png" alt="Yoga" style="margin-bottom:100%;"/>
                        <img src="/static/img/icones/ICONES-IMAGES18.png" alt="Yoga" style="margin:100% 0;"/>
                        <img src="/static/img/icones/ICONES-IMAGES18.png" alt="Yoga" style="margin-top:100%;" />
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>