<!DOCTYPE html>
<html ng-app="cafeyoga" ng-controller="LandingPageController as vm">
<meta charset="ISO-8859-1">
<head>
    <title>Cafe Aum</title>
    <meta name="google-site-verification" content="dXoOhqrEE7dQxqzV2qcy8eV2C7HVCiXf78KQWI15XiE" />
    <link rel="icon" href="/static/img/logo-icone.png"/>
    <base href="/" />

    {% include 'cafeyoga/stylesheets.html' %}
</head>
{% load static %}
{% load staticfiles %}
<body>

   <div id="view" class="ng-view">

   </div>
{% include 'cafeyoga/javascripts.html' %}
</body>
</html>


