<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <div layout style="margin-to:90px;">

                    <div layout="column" flex="70" flex-offset="15" class="content-container" style="min-height:400px;margin-top:40px;margin-bottom:50px;" >

                        <div flex layout-padding
                             style="background-color:#fffdfa;color:#99651e;
                             font-size:20px; margin-top: 10%;min-height:300px;">
                            Vous pourrez très bientôt créer votre compte personnel sur notre site,
                            qui vous permettra de réserver en ligne vos cours de yoga.<br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>